.content {
    background-color: #1074CC;
    box-shadow: 0px 2px 4px 0px rgba(93, 95, 97, 0.2), 0px 1px 2px 0px rgba(93, 95, 97, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    column-gap: 16px;
}


.content__block {
    display: flex;
    padding: 4px 0;
    column-gap: 16px;
}

.block {
    display: flex;
    align-items: center;
    column-gap: 16px;
    position: relative;
}


.block-input-wrapper {
    right: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.header-control {
    background: none;
    border: none;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.mobile-nav {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar {
    display: unset;
}

@media (width < 1024px) {
    .navbar,
    .block-input-wrapper {
        display: none;
    }

    .content {
        justify-content: center;
        column-gap: 4px;
    }

    .content__block {
        display: contents;
        column-gap: 4px;
    }

    .mobile-nav {
        display: unset;
    }
}

.mobile-content {
    display: flex;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    padding: 4px 16px;
    box-sizing: border-box;
    row-gap: 24px;

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2A3033;
}
.mobile-content__search {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    column-gap: 16px;
    box-sizing: border-box;
}

.back {
    background: none;
    border: none;
    cursor: pointer;
}

.mobile-search {
    background-color: #F5F5F5;
    border: none;
    flex: 1;
    border-radius: 24px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding: 12px 16px;
    box-sizing: border-box;
}
.mobile-content__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.mobile-body__block {
    display: flex;
    flex-direction: column;
}
.block__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 6px 12px;
    max-width: 400px;
    box-sizing: border-box;
}
.item__icon{
    width: 32px;
    height: 32px;
}
.item__name{
    color: #2A3033;
}
.field-author {
    align-self: center;
    width: 100%;
    max-width: 400px;
    padding: 16px 12px;
    box-sizing: border-box;
    display: flex;
    column-gap: 4px;
    align-items: center;
    border: 1px solid rgb(225, 228, 230);
    border-radius: 4px;
    background: rgb(255, 255, 255);
    position: relative;
}
.field-author-label {
    position: absolute;
    left: 11px;
    top: -7px;
    padding: 0px 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #8C9499;
    background-color: #fff;
}
.field-author-input {
    border:none;
    outline: none;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #9AA1A6;
}
.field-author-btn {
    background-color: #EFF1F2;
    border: none;
    border-radius: 4px;
    width: 24px;
    cursor: pointer;
    height: 24px;
}
